html {
  font-size: 50%;
}
.App {
  text-align: center;
}

// .image { width: 12rem; } //120px
// .item { font-size: 1.6rem; } //16px
// .copyright { margin-top: 5rem; } //50px
 
/* @media (max-width: 1028px) {
  html { font-size: 100vw; } // 이제 문서 내 모든 rem 단위가 영향을 받습니다.
} */