@import "./App.module.scss";

/* --------------------- 공통 --------------------- */
.hbox_lec {
  @extend .hbox;
  gap : 16px;
  padding: 0 64px;
  justify-content: center;
  align-items:flex-start;
}

.v_card {
  @include flex_container(column, center, center);

  /* 크기 설정 */
  width: 720px;
  height: 400px;
  padding: 48px 24px;    

  /* card 설정 */
  @include Card(white, 48px );
  overflow-y: auto;
  z-index: 2;
}
.Container {
  @include flex_container(column, flex-start, flex-start);
  // gap: 8px;
  // padding: 64px;
  width: 840px;
}

.mainColorText {
  @include text_gradient($mainColor);
}
.blueColorText {
  @include text_gradient($ios_blue);
}
.greyText {
  @include text_gradient($disabled_color);
}
.border_bottom {
  border-bottom: solid 1px $almost-white;
}
.row_space_between {
  justify-content: space-between;
  justify-items:flex-end;
}
.align_bottom {
  align-items: flex-end;
}
.align_center {
  align-items: center;
  align-content: center;
  justify-content: center;
}
.mediumText {
  @include sf-pro-display-24-bold;
}
.titleText {
  @include sf-pro-display-32-bold;
}
.contentText {
  @include sf-pro-display-12-medium;
  padding: 0px;
}
.contentBoldText {
  @include sf-pro-display-12-bold;
  padding: 0px;
}
.indexMediumText {
  @include sf-pro-display-10-medium;
}
.indexText {
  @include sf-pro-display-10-bold;
}
.sticky_top {
  position: sticky;
  top: 0px;
}
.bg_white {
  background: white;
  width: 100%;
  padding-top: 32px;
}
.searchButton {
  background: $mainColor;
  @include sf-pro-display-16-medium;
  @include short-button;
  border : none;
  color : white;
  width: 100px;
  justify-self: center;
}


/* ------------------------------------------------ */

/* ---------------------Lec.js--------------------- */
.lecName {
  @include flex_container($direction: column, $align: flex-start );
  @include sf-pro-display-64-bold;
  color: #000000;
  width: 100%;
  height: 108px;
  padding-left: 108px;
}
/* ------------------------------------------------ */
/* ---------------------Lec_notice.js--------------------- */
.v_card_sm {
  @include flex_container(column, flex-start, flex-start);

  /* 크기 설정 */
  width: 400px;
  height: 200px;
  padding: 32px 48px;

  /* card 설정 */
  @include Card(white, 48px );
  overflow-y: auto;
  z-index: 2;
  gap: 12px;
}

/* ------------------------------------------------ */
/* ---------------------Lec_check.js--------------------- */

.hbox_lec_check {
  @extend .hbox_lec;
  padding: 0;
  width: 32px;
  justify-content: flex-start;
  // align-items: center;
}
.v_card_check {
  @include flex_container(column, flex-start, flex-start);

  /* 크기 설정 */
  width: 240px;
  height: 408px;
  padding: 0 48px 32px 48px;

  /* card 설정 */
  @include Card(white, 48px );
  overflow-y: auto;
  z-index: 2;
  gap: 12px;
}

/* ------------------------------------------------ */
/* ---------------------LecPage_notice.js--------------------- */
.v_card_big {
  @include flex_container(column, flex-start, flex-start);

  /* 크기 설정 */
  width: 640px;
  height: 320px;
  padding: 48px 64px;

  /* card 설정 */
  @include Card(white, 48px );
  overflow-y: auto;
  z-index: 2;
  gap: 12px;
}
.contentTextNotice {
  @include sf-pro-display-16-medium;
  padding: 0px;
}

/* ------------------------------------------------ */
/* ---------------------LecPage_notice.js--------------------- */
.v_card_notice {
  @include flex_container(column, flex-start, flex-start);

  /* 크기 설정 */
  width: 720px;
  height: 400px;
  padding: 32px 64px;

  /* card 설정 */
  @include Card(white, 48px );
  overflow-y: auto;
  z-index: 0;
  gap: 12px;
}
.contentTextNotice {
  @include sf-pro-display-16-medium;
  padding: 0px;
}
/* ------------------------------------------------ */
/* ---------------------LecPage_ass_detail.js--------------------- */
.hbox_lec_ass_due {
  @extend .hbox_lec;
  padding: 0;
  width: 108px;
  justify-content: center;
  align-items: center;
}
.hbox_lec_ass_content {
  @extend .hbox_lec;
  padding: 0;
  width: 108px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.hbox_lec_ass_content2 {
  @extend .hbox_lec_ass_content;
  height: 160px;
}

.inputWrap {
  display: flex;
  width: 80%;
  height: 90%;
  border-radius: 8px;
  padding: 1vh 1.5vw;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputTitle {
  @extend .inputWrap;
  border-radius: 4px;
  height: 80%;
}
