.headerNav {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 24px 0px 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    backdrop-filter: blur(100px);
    // width: 100vw;
    height: 10vh;
  }
  // .ab{
  //   display: flex;
	// justify-content: center;
	// flex-direction: column;
	// align-items: flex-start;
	// gap: 16px;
	// box-sizing: border-box;
	// position: absolute;
	// left: 186px;
	// top: 0px;
	// width: 639px;
	// height: 157px;
  // }
  .class_name{
    //color: black;
    background: linear-gradient(
      135deg,
      rgba(255, 120, 78, 1) 0%,
      rgba(251, 52, 124, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    text-overflow: ellipsis;
    font-size: 32px;
    
    font-family: "SF Pro", sans-serif;
    font-weight: initial;
    line-height: 117%;
    text-align: left;
    width: 600px;
    padding: 5%
  }
  .frame24 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100vmin;
    height: 20vh;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100vmin;
    width: 300px;
    height: 150px;
    object-fit:scale-down;
  }
  
  
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "SF Pro Display";
    font-size: 1.8rem;
    font-weight: 700;
    // line-height: 2.4rem;
    color: #333333;
    display: flex;
    letter-spacing: -0.018rem;
    padding: 0 5rem;
  }
  .logo {
    background: linear-gradient(
      135deg,
      rgba(255, 120, 78, 1) 0%,
      rgba(251, 52, 124, 1) 100%
    );
    margin-right: 12px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
  }
  .wandAndStarsInverse {
    font-family: "SF Pro";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  .link {
    display: flex;
    align-items: center;
  }
  .openTab {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 24px;
    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }
  .navFont {
    font-family: "SF Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: rgba(51, 51, 51, 1);
    text-align: center;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 128px;
  }
  .frame11 {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 54px;
  }
  .userName {
    font-family: "SF Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: black;
    text-align: center;
    margin-right: 7px;
  }
  .faceid {
    display: flex;
    font-family: "SF Pro Display";
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(
      135deg,
      rgba(255, 120, 78, 1) 0%,
      rgba(251, 52, 124, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .day {
    height: auto;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 2vw;
    font-weight: 700;
    line-height: 2.4rem;
    color: rgba(25, 20, 20, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    // margin : 16px;
    margin : 2vw 0 1svw 0
  }

  .Lec {
    width: 100%;
    height: auto;
    // background-color: #EEEEEE;
    border-radius: 16px;
    padding: 0.8vw;
    // margin: 4px;
    // margin-bottom: 0.2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .lec_name {
    height: 24px;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 2.4rem;
    color: rgba(25, 20, 20, 1);
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 0.2vw;
    letter-spacing: -0.018rem;
  }
  .lec_detail {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
  }
  .classroom {
    // height: 12px;
    width: 40%;
    height: auto;
    font-family: "SF Pro Display";
    font-size: 0.5vmax;
    font-weight: 500;
    line-height: 12px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-right: 0.4vmax;
    opacity: 0.5;
  }
  .prof {
    // height: 12px;
    width: 40%;
    font-family: "SF Pro Display";
    font-size: 0.5vmax;
    font-weight: 600;
    line-height: 12px;
    color: #333333;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-right: 0.4vmax;
    opacity: 0.7;
  }
  .duration {
    // height: 12px;
    width: 20%;
    font-family: "SF Pro Display";
    font-size: 0.5vmax;
    font-weight: 700;
    // line-height: 12px;
    color: #333333;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
  p  {
    margin: 0px;
  }

  .Wrapper {
    width: 100%;
    padding: 0rem 10vw;
    height: auto;
    min-height: 100%;
    padding-bottom: 12vh;
    position: relative;
  }
  .whiteCard {
    display: flex;
    flex-direction: column;
    //align-items: center;
   // text-align: center;
    // width: 100%;
    // height: auto;
    width: 400px;
	height: 200px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    box-shadow: 0.4vw 1.0vw 1vw 0.2vw rgba(0, 0, 0, 0.09);
    z-index: -1;
    padding:3%;
  }

  /* .footer {
    width: 1920px;
    height: 128px;
  } */
  a {
    text-decoration-line: none;
  }









.main-bg {
  height: 300px;
  /* background-image: url('../public/imgs/bg_nike.png'); */
  background-size: cover;
  background-position: center;
}
/* .faceid {
  font-family: "SF Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: black;
  text-align: center;
} */

.flex {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  /* padding: 12px; */
}
#flexLeft {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: left;
}

.grid-container {
  display: grid;
  margin: 0px 24px 0px 24px;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-area: "a b c"; */
  align-items: center;
  justify-content: center;
  /* grid-auto-flow: row; */
  place-items: center;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.card1 {
  /* grid-area: a; */
  /* margin: 12px; */
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
}
.card2 {
  /* grid-area: b; */
  /* margin: 12px; */
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  /* z-index: -1; */
}
.card3 {
  /* grid-area: c; */
  /* margin: 12px; */
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
}
.image{
  margin: 12px;
  padding: 16px;
  width: 100px;
  height: 100px;
  object-fit:scale-down;
}
.mycard {
  margin-bottom: 16px;
  width: 200px;
  height: 200px;
  object-fit:scale-down;
}
.titleText {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  /* object-fit:scale-down; */
}

.App {
  text-align: center;
  font-family: SF-Pro-Display-Medium;
  padding-left: 24px;
  padding-right: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#magic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 0;
  padding: 0;

}

.img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

.bold_font {
  font-family: SF-Pro-Display-Bold;
  font-size: larger;
  color: #333333;
}
.main_font {
  font-family: SF-Pro-Display-Medium;
  font-size: medium;
  color: #333333;
  opacity: 80%;
}

.second_font {
  font-family: SF-Pro-Display-Medium;
  font-size: small;
  color: #333333;
  opacity: 50%;
}

#headerStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 100%;
  height: 12vh;
  // border-bottom: 9px solid #DDDDDD;
  box-shadow: 0vw 0.1vw 1vw 0.1vw rgba(50, 50, 50, 0.09);
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 100%;
  height: 12vh;
  position : relative;
  transform : translateY(0%);
  font-family: "SF Pro Display";
  font-size: 1vw;
  // font-weight: 700;
  line-height: normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}